body {
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
}


.slim-select .ss-main {
    display: none;
}

.slim-select.open .ss-main {
    display: block;
}

.ss-content breed-select{
    width: 50px;
}
img {
    display: block;
}

.container {
 
    padding: 15px;
    max-width: 428px;
    margin-right: 20px;
}
.ss-values{
    display: block;
    width: 40px;
}
