
body {
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
}


.slim-select .ss-main {
    display: none;
}

.slim-select.open .ss-main {
    display: block;
}

.ss-content breed-select{
    width: 50px;
}
img {
    display: block;
}

.container {
 
    padding: 15px;
    max-width: 428px;
    margin-right: 20px;
}
.ss-values{
    display: block;
    width: 40px;
}
.cat {
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin-top: 100px;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px dotted #2596be;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.is-hidden{
    display: none;
}